body {
  background-image: url("https://media.istockphoto.com/id/533725350/photo/display-of-ordinary-bakery-with-bread-and-buns.jpg?s=612x612&w=0&k=20&c=bFUTijz13DEAmHyfBuA2W4qey8Xs22rDQlnLW_pah2s=");
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}